a{
  color: #dc3545 !important;
}

.btn-primary {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.btn-outline-primary{
  color: #dc3545;
  border-color: #dc3545 !important;
}

#logo img{
  max-height: 80px;
  margin-bottom: 30px;
}

/* ========================= */
/* == PRESUPUESTO - SHOW  ==*/
/* ========================= */

.row .fullWidth{
  width: 100%;
}

/* Modal más grande */
@media (min-width: 576px){
  .modal-dialog {
      max-width: 800px;
  }
}

input:disabled{
  outline: none !important;
  background-color: white !important;
  border: 0 !important;
}

/* Botones de Añadir Material */
.addMaterial{
  margin: 5px;
  font-size: 14px;
  width: 200px;
}

/* Cabecera de los Materiales */
.head_material_especial{
  background-color: #dc3545 !important;
  text-align: center;
  color: white;
  padding: 2px !important;
}

/* Input de la tabla más pequeños */
.editable .small-input{
  width: 65px;
}

/* ============================ */
/* == FIN PRESUPUESTO - SHOW == */
/* ============================ */
