@media (min-width: 576px){
  .modal-dialog {
      max-width: 800px;
  }
}
input:disabled{
  outline: none !important;
  background-color: white !important;
  border: 0 !important;
}

.addMaterial{
  margin-top: 5px;
  margin-bottom: 5px;
}
