/* ============== */
/* == GENERAL  == */
/* ============== */

a{
  color: #dc3545;
}

.btn-primary {
    color: #fff;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.btn-outline-primary{
  color: #dc3545;
  border-color: #dc3545 !important;
}

/* ============= */
/* == LAYOUT  == */
/* ============= */

#logo img{
  max-height: 60px;
}

.navbar{
  text-transform: uppercase;
}
li.nav-item.active > a{
  color: grey !important;
}
.nav-link{
  color: #dc3545 !important;
}

.navbar .nav-item:hover{
  background: rgba(200, 200, 200, 0.1);
  font-weight: bolder;
}



.mini-jumbo{
  background: #3d3b56;
  color: white;
  text-align: center;
  padding: 5px;
}

.main-content{
  padding-top: 30px;
  max-width: 90% !important;
}

/* ================ */
/* == DASHBOARD  == */
/* ================ */

.form-group.fullfather{
  width: 83%;
}

.form-group.fullfather > div, .form-group.fullfather input{
  width: 100%;
}

/* ========================= */
/* == PRESUPUESTO - SHOW  ==*/
/* ========================= */

.row .fullWidth{
  width: 100%;
}

/* Modal más grande */
@media (min-width: 576px){
  .modal-dialog {
      max-width: 800px;
  }
  .modal-grande{
    max-width: inherit !important;
  }
}

input:disabled{
  outline: none !important;
  background-color: white !important;
  border: 0 !important;
}

/* Botones de Añadir Material */
.addMaterial{
  margin: 5px;
  font-size: 14px;
  width: 200px;
}

/* Cabecera de los Materiales */
.head_material_especial{
  background-color: #dc3545 !important;
  text-align: center;
  color: white;
  padding: 2px !important;
}

/* Input de la tabla más pequeños */
.editable .small-input{
  width: 65px;
}

/* Galería de planos */
.gallery-container{
  display: none;
}
.gallery-item{
  max-width: 200px;
  display: inline-block;
}

/* ============================ */
/* == FIN PRESUPUESTO - SHOW == */
/* ============================ */


/* autocompletar */
.search-autocomplete-list{
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .75rem 1.25rem;
  border-radius: .25rem
}
.search-autocomplete-list:hover{
  background-color: rgb(241, 185, 172);
  cursor: pointer;
}
